:root {
  --dark: #030712;
  --grey: #b1bacb;
  --grey-light: rgb(154, 154, 181);
  --grey-dark: $405175;
  --white: #ffffff;
  --blue: #0073ff;
  --blue-light: #79c0ff;
}

body {
  background-color: var(--dark);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  color: var(--white);
  font-size: 16px;
  padding: 0.8em 2em;
  border: transparent;
  border-radius: 6px;
  background: var(--dark);
  position: absolute;
  right: 0.4rem;
  bottom: 0.4rem;
  transition: background 0.3s ease;
}

.btn:hover {
  background: var(--blue);
  color: var(--dark);
}

.btn:active {
  transform: translate(0em, 0.1em);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
span {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Todo Container */

.todo {
  background: #161622bb;
  border: 1px solid var(--blue-light);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  width: 60%;
  max-width: 30rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

h2 {
  font-weight: 400;
  height: 3rem;
  color: var(--white);
  text-align: center;
}

.input {
  position: relative;
  display: flex;
  padding-top: 25px;
}

.input-field {
  width: 100%;
  background-color: var(--white);
  border: 0.06rem solid var(--grey);
  border-radius: 6px;
  padding: 1.25rem;
  font-size: 1rem;
}

input[type="text"]::placeholder {
  color: var(--grey);
}

.todo-container {
  gap: 1rem;
}

ul {
  color: var(--white);
  list-style-type: none;
  padding: 5% 0;
  margin: 0;
  /* overflow-y: scroll; */
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.todoList p {
  color: var(--white);
  margin: 0;
}

.todoList {
  gap: 1rem;
}

.todoList .disabled {
  color: #8f98a8;
}

.disabled {
  text-decoration: line-through;
}

.counter {
  border: 0.06rem solid var(--blue-light);
}

.counter-container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}

.counter-container p {
  align-self: center;
}

.counter-container button {
  border: none;
  background-color: transparent;
  color: var(--grey);
  font-size: 1rem;
}

.remove-task {
  cursor: pointer;
}

.validation-message {
  font-size: 14px;
  color: var(--grey-light);
  font-weight: 100;
  color: var(--white);
  display: none;
  padding-top: 15px;
}

.edit-task {
  cursor: pointer;
  margin-left: 5px;
}

.delete-button {
  cursor: pointer;
  margin-left: 5px;
}

.crossed-out {
  text-decoration: line-through;
  opacity: 0.5;
  transition: opacity 0.8s ease-out;
}
